

    .hero {
        text-transform: uppercase;
        background-color: rgba(196, 196, 196, 1);
        text-align: center;
        padding-top: 118px;
        padding-bottom: 118px;
        margin-left: auto;
        margin-right: auto;
    
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/img-hero-mobile.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        max-width: 1600px;
        height: 400px;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../images/hero/img-hero-mobile@2x.jpg);
        }
    }

    .hero__title {
        
        font-weight: 900;
        font-size: 26px;
        line-height: 1.61;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: var(--accent-color-white);
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        width: 100%;
        
    }


@media screen and (min-width: 768px) {
    .hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../images/hero/img-hero-tablet.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../images/hero/img-hero-tablet@2x.jpg);
                
        }
    }

    .hero__title {
        width: 360px;
        
    }
}

@media screen and (min-width: 1200px) {
    .hero {
        padding-top: 200px;
        padding-bottom: 200px;
        height: 600px;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../images/hero/img-hero-desktop.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../images/hero/img-hero-desktop@2x.jpg);
        }
    }

    .hero__title {
        width: 696px;
        font-size: 44px;
        line-height: 1.36;
    }
}






/*.hero {
    text-transform: uppercase;
    background-color: rgba(196, 196, 196, 1);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 1600px;
}

.hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: var(--accent-color-white);
    margin-left: auto;
    margin-right: auto;
    width: 696px;
    margin-bottom: 30px;
}*/